<div class="well well-lg" >
      <h2><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> {{ $ctrl.userProfile.user.first_name + " " + $ctrl.userProfile.user.last_name }}</h2>
      <hr>
      <h2><small>@{{ $ctrl.userProfile.user.username }}</small></h2>
      <br>
      <a ng-if="$ctrl.userProfile.link" ng-href="{{ $ctrl.userProfile.link }}" class="btn transparentButton btn-default center-block" style="margin-top:8px;margin-bottom:8px;" role="button">{{ $ctrl.userProfile.link.includes('unfollow') ? 'Unfollow' : 'Follow'}}</a>
      <p ng-if="$ctrl.userProfile.posts.length == 0" style="text-align:center;" ><br>@{{ $ctrl.userProfile.user.username }} has no posts yet!</p>
</div>

<div class="row" ng-repeat="post in $ctrl.userProfile.posts">
  <div class="col-sm-9 col-md-9 col-lg-9" style="float: none;margin: 0 auto">
    <div class="thumbnail">
      <div class="caption">
          <h3><span style="color:black;"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><span style="color: black"> {{ post.image_heading }}</span></span><hr><span style="color: black"> {{ post.image_caption }}</span></h3>
          <p><a ng-href="#" class="btn btn-default disabledTransparentButton disabled"  role="button"><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span style="color: black"> Posted {{ post.time }} ago</a>
      </div>
      <img ng-src="data:{{ post.image_content_type }};base64,{{ post.image_base64 }}" alt="{{ post.image_caption }}">
    </div>
  </div>
</div>
